body {
    background-color: bisque;
}

.container {
    height: 400px;
    grid-template-columns: 200px 400px auto;
    grid-template-rows: 120px 120px auto;
    border: 2px solid red;
    display: grid;
}
.child1{
    border: 2px solid black;
}
.child2{
    border: 2px solid black;
}
.child3{
    border: 2px solid black;
}
